<section>
    <a href="/dashboard" class="is-pulled-right"> &larr; back to dashboard</a>
    <h2 class="title">Create a new blog post</h2>
    <form action="new-post-form">
        <div>
            <label for="post-title">title:</label>
            <input class="input" type="text" id="post-title" placeholder="insert blog title">
        </div>
        <div>
            <label for="post-content">content:</label>
            <input type="text" class="textarea is-large" id="post-content" name="post-content" placeholder="insert content here">
        </div>
        <button type="submit" class="button is-primary is-pulled-right">create new post</button>
    </form>
</section>

<script src="./js/add-post.js"></script>