<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>

    <form class="signup-form">
      <h2>Sign Up</h2>
      <div>
        <label for="username-signup">Username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="password-signup">Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit">Signup</button>
      </div>
    </form>

    <form id="login">
      <label for="form">Email:</label><br />
      <input type="text" id="email" name="email" /><br />
      <label for="lname">Password:</label><br />
      <input type="text" id="password" name="password" /><br /><br />
      <input type="submit" value="Submit" />
    </form>

    <script src="/js/login.js"></script>
  </body>
</html>